* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

.main-content {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #666AF5;
}

.content-table {
    width: 58.4375rem;
    height: 50.375rem;
    border-radius: 0.875rem;
    background: #FFF;
    box-shadow: 0px 20px 30px 0px rgba(102, 106, 245, 0.13);
    display: flex;
    justify-content: space-between; 
}


h1 {
    color: #7E86F6;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.12rem;
    /* padding: 2.25rem 1.5rem;/ */
    margin: 2.56rem 46.44rem 0rem 3.12rem;
    width: 11rem;

}

h3 {
    margin: 0.13rem 7.75rem 0rem 3.12rem;
    width: 100%;
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.06rem;

}

.contact-details {
    display: flex;
    flex-direction: column;
}

input {
    width: 26.875rem;
    height: 3.125rem;
    flex-shrink: 0;
    background: #F5F5FF;
    border: none;
    color: #9F9F9F;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.06rem;
    padding: 1rem 14.94rem 1rem 1.25rem;
    transition:  0.5s ease;
    outline: none;

}

input:hover {
    box-shadow: 0 5px 15px rgba(1, 1, 1, 9%);

}

#name {
    margin: 2.56rem 4.69rem  0rem 3.12rem;

} 

#email {
    margin: 2.56rem 4.69rem  0rem 3.12rem;
}

textarea {
    width: 26.875rem;
    height: 9.375rem;
    flex-shrink: 0;
    background: #F5F5FF;
    margin-bottom: 6.88rem;
    border: none;
    margin: 2.56rem 4.69rem  0rem 3.12rem;
    color: #9F9F9F;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.06rem;
    padding: 1.31rem 13.37rem 6.94rem 1.25rem;
    transition:  0.5s ease;
    outline: none;

}

textarea:hover {
    box-shadow: 0 5px 15px rgba(1, 1, 1, 9%);

}

form label {
    margin: 2.56rem 4.69rem  -2rem 3.12rem;
}

canvas {
    width: 26.875rem;
    height: 9.375rem;
    border:1px solid #000;
    margin: 2.56rem 4.69rem  0rem 3.12rem;

}

#submit-btn {
    width: 26.875rem;
    height: 3.125rem;
    flex-shrink: 0;
    background: #6569F6;
    text-decoration: none;
    margin: 2.56rem 4.69rem 1.88rem 3.12rem;
    padding: 0.62rem 10.81rem;
    color: #FFF;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

#submit-btn:hover {
    /* background: #7f82ef; */
    box-shadow: 0 5px 15px rgba(1, 1, 1, 25%);
    transform: scale(1.007);

}

.left-side, .right-side {
    display: flex;
    flex-direction: column;
    width: 50%; 
}

.right-side img {
    width: 80%; 
    height: auto; 
    margin-left: 4.81rem;
    margin-top: 12.12rem;
}

.social-icons {
    display: flex;
    margin: 4.88rem 6rem 5.88rem 6rem;
    padding: 1rem 2.5rem;


}

.social-icons a {
    color: #6569F6;
    font-size: 1.7rem;
    margin-right: 2rem;
    transition: all 0.5s ease;

}

.social-icons a:hover {
    color: #8c8fe7;
    transform: scale(1.16);
}


@media (min-width: 300px) and (max-width: 767px){
    .content-table {
      flex-direction: column;
      width: 100%;
      height: auto;
    }
  
    .left-side, .right-side {
      width: 100%;
    }
  
    .contact-details, input, textarea, #submit-btn {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  
    h1, h3 {
      text-align: center;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    input {
        font-size: 0.45rem;
        
    }
  
    .right-side img {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
  
    .social-icons {
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
