* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

header { 
    position: fixed;
    width: 100%;
    background-color: #f0f0f0; 
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
    cursor: default;

}

.navigation a {
    text-decoration: none;
    color: #3a6cf4;
    font-weight: 500;
    font-size: 1.1rem;
    padding-left: 30px;
}

.navigation a:hover{
    color: #601cfc;
}

article {
    padding: 100px 200px;
}

.main-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(assets/background.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main-page h2 {
    font-weight: 500;
    font-size: 1.4rem;
    color: #fff;
}

.main-page h2 span{
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 3rem;
    color: #4e9eff;
}

.main-page h3 {
    font-weight: 700;
    font-size: 2rem;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    display: inline-block;
    margin-bottom: 40px;
    transition: 0.5s ease;
    
}

.main-btn:hover {
    background-color: #0a49f6;
    transform: scale(1.1);
}

.social-icons {
    display: flex;
  }

.social-icons a {
    color: #fff;
    font-size: 1.7rem;
    padding-right: 30px;
    transition: all 0.5s ease;
}

.social-icons a:hover {
    color: rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
}

.footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  
  .footer-title {
    margin-top: 5px;
    font-size: 1.3em;
    font-weight: 600;
  }
  
  .footer-title span a{
    color: rgb(197, 168, 255);
    text-decoration: none;
    transition: all 0.5s ease;
  }
  .footer-title span a:hover{
    color: rgb(255, 200, 0);
  }